@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

// MEDIA QUERY MANAGER
@mixin respond($breakpoint) {

    @if $breakpoint == older-phone {
        @media only screen and (max-width: 23.4375em) { @content }; // 375px
    }
    // 7/8 Plus 
    @if $breakpoint == smaller-phone {
        @media only screen and (max-width: 25.875em) { @content }; // 414px
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px
    }

    @if $breakpoint == tablet-portrait {
        @media only screen and (max-width: 56.25em) { @content }; // 900px
    }

    @if $breakpoint == tablet-landscape {
        @media only screen and (max-width: 75em) { @content }; // 1200px
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; // 1800px
    }
}