<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bloodborne RPG</title>
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
    <!-- FONTAWESOME -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <!-- VUE -->
    <!-- to work with when connected to wifi -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
</head>
<body>
    <!-- Game Instructions -->
    <div class="instructions" id="game-instructions" v-show="!gameStarted">
        <div class="instructions__box">
            <div class="instructions__box--1">
                <h1 class="primary-heading">
                    Bloodborne RPG
                </h1>
            </div>

            <div class="instructions__box--2">
                <p class="instructions__text">You will be facing Rom, the Vacuous Spider. Here is some info before you start!</p>
            </div>

            <div class="instructions__box--3">
                <h2 class="secondary-heading">Attack</h2>
                <p class="instructions__text--1">
                    The Saw Cleaver, a melee weapon. Deals decent amount of damage.
                </p>

                <h2 class="secondary-heading">Hunter Pistol</h2>
                <p class="instructions__text--2">
                    The Hunter Pistol, a ranged weapon. Deals a massive amount of damage.
                </p>

                <h2 class="secondary-heading">Blood Vials</h2>
                <p class="instructions__text--3">
                    Blood Vials heal 25% of health.
                </p>

                <h2 class="secondary-heading">Blood Ammo</h2>
                <p class="instructions__text--4">
                    Inflict 10% damage on self and gain an extra 4 bullets made of blood.
                </p>
            </div>
            <button class="btn btn--start" v-on:click="startGame">Start Game</button>
        </div>
    </div>

    <!-- Game -->
    <div id="game-app" v-show="!gameOngoing">
        <!-- Sound Icon -->
        <div class="options">
            <i v-bind:class="['options__sound', bgm.isPlaying ? 'fas fa-pause' : 'fas fa-play']" 
            v-on:click.prevent="bgm.isPlaying ? pause(bgm) : play(bgm)" 
            v-for="bgm in backgroundMusic"></i>

            <div class="options__sound-text" v-for="bgm in backgroundMusic">
                {{ bgm.isPlaying ? 'Pause' : 'Play' }} Background Music
            </div>
        </div>

        <!-- Restart Icon -->
        <div class="options">
            <i v-on:click="restart" class="fas fa-redo options__restart"></i>
            <div class="options__restart-text">
                Start a new game
            </div>
        </div>
            
        <!-- Enemy Information -->
        <div class="enemy-info">
            <img v-bind:src="enemyImg" class="enemy-info__img" id="rom-img">
            <h2 class="enemy-info__name">Rom, the Vacuous Spider</h2>

            <div class="enemy-info__health-container">
                <div class="enemy-info__health-container--health-bar">
                    <div class="enemy-info__health-container--health-color" v-bind:style="enemyHealthBar"></div>
                    <p class="enemy-info__health-container--health-value"> {{ enemyHealth }} </p>
                </div>
            </div>
        </div>

        <!-- Buttons Container -->
        <div class="button-container" v-show="!ended">
            <!-- Attack Button -->
            <button v-on:click="attack" class="btn btn--options" :disabled="romIsAttacking">
                Attack
            </button>
    
            <!-- Special Attack Button -->
            <button v-on:click="specialAttack" class="btn btn--options" :disabled="romIsAttacking">
                Pistol
            </button>
            
            <!-- Cure Button -->
            <button v-on:click="heal" class="btn btn--options" :disabled="romIsAttacking">
                Blood Vial
            </button>

            <!-- Regain Bullets Button -->
            <button v-on:click="bloodBullet" class="btn btn--options" :disabled="romIsAttacking">
                Blood Ammo
            </button>
        </div>

        <!-- Restart Button -->
        <div class="button-container" v-show="ended">
            <button v-on:click="restart" class="btn btn--options">
                Start a new game
            </button>
        </div>

        <!-- Player Information -->
        <div class="row">
            <div class="col-1-of-3">
                <div class="player-info">
                    <h2 class="player-info__heading">Hunter</h2>

                    <!-- Player Health -->
                    <div class="player-info__health-bar" id="player-health-bar">
                        <div class="player-info__health-color" v-bind:style="playerHealthBar"></div>
                        <p class="player-info__health-value"> {{ playerHealth }} </p>
                    </div>

                    <!-- Blood Vials -->
                    <h2 class="player-info__vial">
                        <span class="player-info__vial--vials">Blood Vials:</span>
                        <span v-bind:class="[vialColorStyle]"> {{ playerBloodVials }} </span>
                        <span> / 20</span>
                    </h2>

                    <!-- Gun Ammo -->
                    <h2 class="player-info__gun">
                        <span class="player-info__gun--weapon">Hunter Pistol Ammo:</span>
                        <span v-bind:class="[ammoColorStyle]"> {{ playerAmmo }} </span>
                        <span> / 16</span>
                    </h2>
                </div>
            </div>

            <!-- Battle Log -->
            <div class="col-2-of-3">
                <div class="battle-info" id="battle-log">
                    <ul class="battle-info__log" v-for="(log, index) in battleLog"> 
                        
                        <!-- Maybe instead of attacking, maybe change it to followUp?? nextTurn??? isActive???? -->
                        <li class="battle-info__text" v-if="log.isAttacking">
                            {{ log.damage }}
                        </li>

                        <li class="battle-info__text" v-else-if="log.isHealing">
                            {{ log.info }}
                        </li>

                        <li class="battle-info__text" v-else-if="log.isRestocking">
                            {{ log.info }} {{ log.damage }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- To work with locally -->
    <script src="js/vue.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>