.btn {

    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
    }

    &--start {
        background-color: #000;
        border: 1px solid #fff;
        color: #fff;
        font-size: 2rem;
        font-family: inherit;
        padding: 1.3rem 1.5rem;
        outline: none;
        transition: all .3s;

        &:hover {
            background-color: #fff;
            color: #000;
            cursor: pointer;
        }

        @include respond(phone) {
            font-size: 1.7rem;
        }
    }

    &--options {
        font-size: 2rem;
        padding: 1.3rem 1.5rem;
        cursor: pointer;
        color: #fff;
        background-color: #000;
        border: 1px solid #fff;
        outline: none;
        font-family: 'VT323', monospace;

        &:not(:last-child) {
            margin-right: 1rem;
        }
        
        @include respond(phone) {
            font-size: 1.7rem;
            padding: 1.3rem 1.5rem;
        }

        @include respond(older-phone) {
            padding: .8rem 1.4rem;
        }
    }
}