// Player Information
.player-info {
    background-color: #000;
    border: 2px solid #fff;
    padding: 2rem 0;
    margin-top: 3rem;

    &__heading {
        color: #fff;
        font-size: 2.4rem;
        font-weight: 500;
        padding-bottom: 1rem;
    }

    &__health-bar {
        width: 200px;
        border: 2px solid #fff;
        margin: 0 auto 20px auto;
    }

    &__health-color {
        height: 20px;
        background: royalblue;
        transition: all .3s;
    }

    &__health-value {
        color: #fff;
        font-size: 2rem;
        font-weight: 100;
        padding: .5rem 0;
    }

    &__gun {
        color: #fff;
        font-size: 2rem;
        font-weight: 100;

        &--full-ammo {
            color: lime;
        }

        &--half-ammo {
            color: yellow;
        }

        &--low-ammo {
            color: red !important;
        }
    }

    &__vial {
        color: #fff;
        font-size: 2rem;
        font-weight: 100;

        &--full-vials {
            color: lime;
        }

        &--half-vials {
            color: yellow;
        }

        &--low-vials {
            color: red !important;
        }
    }
}
