// Animations
@keyframes attacked-animation {        
    0% { 
        transform: translateX(0);
        filter: hue-rotate(0);
    }
    25% { 
        transform: translateX(-20px);
    }
    50% { 
        transform: translateX(20px);
        filter: hue-rotate(90deg);
    }
    100% { 
        transform: translate(0);
        filter: hue-rotate(0);
    }
}

@keyframes special-animation {        
    0% { 
        transform: translateX(0);
        filter: hue-rotate(0);
    }
    25% { 
        transform: translateX(-40px);
    }
    50% { 
        transform: translateX(40px);
        filter: hue-rotate(90deg);
    }
    100% { 
        transform: translate(0);
        filter: hue-rotate(0);
    }
}

@keyframes stare {        
    0% { 
        transform: scale(1);
    }

    99% { 
        transform: scale(1.1);
    }

    100% { 
        transform: scale(1);
    }

}


@keyframes heal-effect {
    0% {
      filter: sepia() saturate(0) hue-rotate(0);
    }
    50% { 
      filter: sepia() saturate(100%) hue-rotate(90deg);
    }
    100% { 
      filter: sepia() saturate(100%) hue-rotate(90deg);
    }
}


@keyframes defeated-animation {        
    0% { 
        transform: translateX(0);
    }
  
    10% { 
        transform: translateX(20px);
    }
  
    20% { 
        transform: translateX(-20px);
    }
  
    30% { 
        transform: translateX(20px);
    }
  
    40% { 
        transform: translateX(-20px);
    }

    
    50% { 
        transform: translateX(20px);
        opacity: 1;
    }
  
    60% { 
        transform: translateX(-20px);
    }
  
    70% { 
        transform: translateX(20px);
    }
  
    80% { 
        transform: translateX(-20px);
    }
  
    90% { 
        transform: translateX(20px);
    }
  
    100% { 
        transform: translate(0);
        opacity: 0;
    }
}