*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inheritl
}

html {
    font-size: 62.5%;
    user-select: none;

    @include respond(phone) {
        font-size: 56.25%; // 1 rem = 9px; 9/16
    }

    @include respond(tablet-landscape) {
        font-size: 56.25%; // 1 rem = 9px; 9/16
    }

    @include respond(tablet-portrait) {
        font-size: 50%; // 1 rem = 8px; 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; // 1 rem = 12px;
    }
}

#vue-app {
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, .4),
        rgba(0, 0, 0, .8)),
    url(../media/8bit-bg1.gif);

    background-size: cover;
    background-position: bottom;
}