// Animations Called
.attacked-animation {
    position: relative;
    animation: attacked-animation .2s ease;
}

.special-animation {
    position: relative;
    animation: special-animation .2s ease;
}

.heal-effect {
    position: relative;
    animation: heal-effect .2s ease;
}

.stare-animation {
    position: relative;
    animation: stare .2s ease;
}

.defeated-animation {
    position: relative;
    animation: defeated-animation 1s ease;
}

.margin-bottom {
    margin-bottom: 2rem;
}