.primary-heading {
   font-size: 4rem;
   margin-bottom: 3rem;
   padding: 0 4rem;
}

.secondary-heading {
   color: #6e91fa;
   font-size: 2.5rem;
   text-align: left;
}

.instructions-content {
   background-color: #141414;
   border: 2px solid #fff;
   border-radius: 4px;
   color: #fff;
   top: 45%;
   left: 50%;
   padding: 4rem 0;
   position: absolute;
   transform: translate(-50%, -50%);
   width: 50%;
}

.instructions-text {
   font-size: 2.2rem;
   padding: 0 6rem;
   text-align: left;
   padding-bottom: 2.4rem;
}

.instructions-btn {
   padding-top: 2rem;
}

.btn-start {
   background-color: #141414;
   border: 1px solid #fff;
   color: #fff;
   cursor: pointer;
   font-family: inherit;
   font-size: 2rem;
   padding: 1rem 5rem;
   outline: none;
   transition: all .3s;
}

.btn-start:hover {
   transform: translateY(-.2rem);
}

@media only screen and (max-width: 56.25em) {
   .instructions-content {
      width: 80%;
   }
}

@media only screen and (max-width: 37.5em) {
   .instructions-content {
      width: 90%;
      padding: 3rem 0;
   }

   .primary-heading {
      font-size: 3.5rem;
   }

   .secondary-heading {
      font-size: 2rem;
   }

   .instructions-text {
      font-size: 1.8rem;
      padding: 0 4rem;
      text-align: left;
      padding-bottom: 2.4rem;
   }
}

@media only screen and (max-width: 23.4375em) {
   .instructions-content {
      padding: 2rem 0;
   }
   .primary-heading {
      font-size: 2.4rem;
   }

   .instructions-text {
      font-size: 1.6rem;
   }
}

@media only screen and (max-width: 20em) {
   .instructions-content {
      top: 50%;
   }
}